# Yarn kullanımını engelle
engine-strict=true
use-node-version=20
save-exact=true
legacy-peer-deps=true
# Netlify için optimizasyon
ignore-scripts=false
no-package-lock=true

# Sorun giderme için
loglevel=error
fetch-timeout=600000
fetch-retries=3 